$cell-height: 3rem;
$border: 2px solid $gray-500;

.calendar__table {
  display: grid;
  grid-template: repeat(10, $cell-height) / repeat(6, 1fr);
  border-top: $border;
  border-right: $border;

  .calendar__table-column {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      line-height: $cell-height;
      height: 100%;
      width: 100%;
      text-align: center;
      border-left: $border;
      border-bottom: $border;

      div {
        background-color: cadetblue;
      }
    }

    .calendar__table-column-header {
      background-color: $gray-300;
      font-size: 1.2rem;
      font-weight: 800;
    }
  }
}

.calendar__header {
  display: grid;
  height: 5rem;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  justify-items: start;

  .calendar__header_handling {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    .calendar__header_handling-dropdown,
    .calendar__header_handling-newEventCreatingButton {
      display: inline-flex;
      align-content: space-between;
      height: $cell-height;

      & button,
      select {
        border-radius: 10px;
        height: 100%;
        width: 100%;
        font-size: 1.25rem;
        border: 2px solid $dark;
        box-shadow: none;
      }

      & button {
        background-color: $gray-300;

        &:hover {
          background-color: $gray-500;
        }
      }
    }
  }
}
