$cell-height: 3rem;
$border: 2px solid $gray-500;

.calendar__table {
  display: grid;
  width: auto;
  grid-template: repeat(10, $cell-height) / repeat(6, calc((100%) / 6));
  border-top: $border;
  border-right: $border;
  overflow: hidden;

  .calendar__table-column {
    margin: 0;
    padding: 0;

    li {
      box-sizing: border-box;
      list-style-type: none;
      line-height: $cell-height;
      height: 100%;
      text-align: center;
      border-left: $border;
      border-bottom: $border;

      div {
        display: flex;
        align-content: space-between;
        background-color: $green-300;
        height: 100%;
        width: 100%;
        padding: 0 10px;
        text-align: left;
        white-space: nowrap;

        .calendar__table-column_meeting {
          width: calc(100% - 1rem);
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: none;
          color: $dark;
        }

        .calendar__table-column_meeting_delete {
          width: 1rem;
          padding: 0;
          border: none;
          font: inherit;
          color: inherit;
          background-color: transparent;
          box-shadow: none;
          outline: 0;

          &:focus {
            box-shadow: none;
          }

          &:hover {
            color: $gray-300;
          }
        }
      }
    }

    .calendar__table-column-header {
      background-color: $gray-300;
      font-size: 1.2rem;
      font-weight: 800;
    }
  }
}

.calendar__header {
  display: grid;
  height: 5rem;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  justify-items: start;

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  .calendar__header_handling {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    .calendar__header_handling-dropdown,
    .calendar__header_handling-newEventCreatingButton {
      display: flex;
      align-content: space-between;
      height: $cell-height;

      a {
        height: 100%;
        width: 100%;
      }

      & button,
      select {
        border-radius: 10px;
        height: 100%;
        width: 100%;
        font-size: 1.25rem;
        border: 2px solid $dark;
        box-shadow: none;
      }

      & button {
        background-color: $gray-300;

        &:hover {
          background-color: $gray-500;
        }
      }
    }
  }
}

.calendar__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  button {
    margin-left: 1rem;
  }
}
