$cell-height: 3rem;

.calendar__table {
  display: grid;
  grid-template: repeat(10, $cell-height) / repeat(6, 1fr);
  border: 0.5px solid black;

  .calendar__table-column {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      line-height: $cell-height;
      height: 100%;
      width: 100%;
      text-align: center;
      border: 0.5px solid black;

      div {
        background-color: cadetblue;
      }
    }

    .calendar__table-column-header {
      background-color: var(--bs-secondary);
      font-size: 1.2rem;
      font-weight: 900;
    }
  }

  ul:first-child {
    font-weight: 900;
  }
}

.calendar__header {
  display: grid;
  height: 5rem;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  justify-items: start;

  .calendar__header_handling {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    .calendar__header_handling-dropdown,
    .calendar__header_handling-newEventCreatingButton {
      display: inline-flex;
      align-content: space-between;
      height: $cell-height;
      cursor: pointer;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.05);
        // opacity: 0.8;
      }

      & button,
      select {
        // padding: 0 1rem;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }
}
